* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.shape-top {
    width: 25vmin;
    height: 25vmin;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.shape-bottom {
    width: 25vmin;
    height: 25vmin;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #293264;
}

.menu--form {
    text-align: center;
}

.menu--select {
    display: flex;
    font-size: 16px;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    margin-block: 1em;
}

.menu--button {
    font-size: 16px;
    color: white;
    background: #4D5B9E;
    border-radius: 15px;
    padding: 1em 4em;
    border: none;
}

.quiz {
    display: flex;
    flex-direction: column;
    padding-inline: 1em;
}

.quiz--check {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-inline: auto;
    gap: 2em;
}

.quiz--check--button {
    padding: 1em 3em;
    font-size: 16px;
    color: white;
    background: #4D5B9E;
    border-radius: 15px;
    padding: 0.75em 2em;
    border: none;
}

.quiz--check--button:disabled {
    cursor: not-allowed;
    background: lightgray;
}

.question {
    padding-top: 1em;
    border-bottom: 1px solid #DBDEF0;
}

.question--title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.25em;
}

.question--button {
    font-size: 1em;
    border: 1px solid #4D5B9E;
    border-radius: 10px;
    background: white;
    padding: 4px 12px;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
}

.question--button:disabled {
    cursor: not-allowed;
}

.button-selected {
    border: none;
    background: #D6DBF5;
    padding: 5px 13px;
}

.button-correct {
    border: none;
    background: #94D7A2;
    padding: 5px 13px;
}

.button-correct:disabled {
    color: black;
}

.button-incorrect {
    border: none;
    background: #fa7b7b;
    padding: 5px 13px;
}

@media only screen and (max-width: 600px) {
    .App {
        height: 100%;
    }

    .menu {
        margin-top: 35vh;
    }

    .quiz--check{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        margin-top: 0.5em;
        gap: 0;

    }

    .question--answers{
        display: flex;
        flex-direction: column;
    }

    .shape-top, .shape-bottom {
        display: none;
    }
}